<%#/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~~*/
</*			    SHOW CURRENT ARTICLE			    /
/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/%>

<nav class="navbar">
	<ul>
		<li><a href="/../">Home</a></li>
		<li><a href="/articles/">Index</a></li>
		<li><a href="/articles/new">New</a></li>
	</ul>
</nav>
<h1><%= article.title %></h1>
<h3><b>by:</b> <em><%= article.author %></em></h3>
<p><b>Category: </b><%= article.category %></p>
<p><%= article.content %></p>
<p>updated at: <%= article.date%></p>
<form action="/articles/<%= article._id %>?_method=DELETE" method="post">
<input type="submit" value="Delete Article">
<label for="upvote">Upvote
<input type="radio" name="article[vote]" id="upvote">
</label>
<label for="downvote">Downvote
<input type="radio" name="article[vote]" id="downvote">
</label>
</form>
<a href="/articles/<%=article._id%>/edit">EDIT</a>