
<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/articles/new">Create New Article</a></li>
		<li><a href="/users/<%= user.id %>/edit">Edit Profile</a>
		<li><a href="/users">All Users</a>
	</ul>
</nav>

	<h1><b><%= user.username%></b></h1>
	<h3>age: <%= user.age%></h3>
	<div class="profile">
		<img src="<%= user.avatar %>" class="profile-img">
	</div>
	<div class="bio">
		<p>bio: <%= user.bio%></p>
	</div>
</div>
<form action="/users/<%= user._id %>?_method=DELETE" method="post">
<input type="submit" value="Delete Profile" class="LLB-btn">
</form>